body {
    background: linear-gradient(15deg, #f2a7a7, #77b4f6);
    /* Adjust the direction and colors as needed */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Additional styles for the body */
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: color-mix(in hsl shorter hue, color percentage, color percentage);
    border-radius: 8px;
    background-color: #fcefda;
    color: #000000;
    font-size: 16px;
    resize: both;
}

textarea::placeholder {
    color: #888;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-md-6 {
    flex: 0 0 calc(50% - 10px);
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
    }
}

/* CSS for the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}

/* CSS for input areas */
.input-area-container {
    position: relative;
}

.input-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.input-area {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    resize: none;
}

.input-area:focus {
    outline: none;
    border-color: #007bff;
}

/* CSS for copy button */
#copyButton {
    position: absolute;
    top:    0px;
    right: -20px;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copyButton:hover {
    background-color: #0056b3;
}
